# Ignore everything by default
*
# But don't ignore directories
!*/

# Don't ignore README.md
!README.md

# Keep scripts directory and its contents
!scripts/
!scripts/**

# Explicitly allow .gitkeep files in specific directories before ignoring them
!data/.gitkeep
!models/.gitkeep
!output/.gitkeep
!logs/.gitkeep
!config/.gitkeep

# Ignore .ipynb_checkpoints everywhere, including scripts
.ipynb_checkpoints/
**/.ipynb_checkpoints/
scripts/.ipynb_checkpoints/

# Ignore specific directories and their contents
notebooks/
data/
models/
output/
logs/
config/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific binary files
*.bin
*.kv
*.vec
*.npy
*.pkl 